
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Cabin', sans-serif;
$headings-font-family: 'Rock Salt', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #97480F;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$light: #F9D371;
$dark: #380901;

$primary: $orange;

$custom-file-button-color: $light;
$custom-file-button-bg: $dark;
